.container{
    width: 100%;
    /* min-height: 100vh; */
    background:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexContainer{
    width: 1280px;
    min-height: 400px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;

}

.items{
    background: #ffffff;
    width: 180px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items img {
    height: 50px;
    width: auto;
    
}