#bannerContainer{
    display: grid;
    grid-template-columns: 1fr;
    height: 400px;
    width: 100%;
    background:#f0f0f0;
    margin-top: 100px;
}

#bannerImage{
    width: 100%;
    height: 100%;
    background: url("public/images/bgimage1.webp");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#bannerImage img{
    width: 300px;
    height: auto ;
    rotate: -30deg;
   
}

#bannerText{
background: #1C1F2A;
color:#ffffff ;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: "Playfair Display", serif;
font-size: 32px;
letter-spacing: 1px;

}


@media (min-width: 768px){
    #bannerContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
